body {
  height: 768px;
  width: 1280px;

  overflow-y: hidden;
  overflow-x: hidden;

  background-image: url("imgs/bg.jpg");
  background-size: cover;

  margin: auto;
}

.mainContain {
  display: flex;
  flex-wrap: wrap;

  height: 100vh;
  width: 1280px;
}

.topContain {
  display: flex;

  width: 1280px;
  height: 80px;

  text-align: center;
  gap: 50px;

  justify-content: center;
  align-self: flex-start;

  background-color: #8a4f7d;
  border-bottom: #88a096 6px ridge;
}

.midScreen {
  display: flex;
  justify-content: space-evenly;

  padding-top: 30px;

  height: 500px;
  width: 1280px;

  text-align: center;
}

.leftContain {
  width: 300px;
  height: 500px;

  padding: 10px;

  border-radius: 10px 10px 10px 10px;

  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.452);

  background-color: #887880;

  border: #88a096 2px solid;

  transition: transform 0.3s ease-in-out;
}

.leftContain:hover {
  transform: scale(1.1);
}

/* Hover container and animation */

.midContain {
  width: 500px;
  height: 500px;

  padding: 10px;

  border-radius: 10px 10px 10px 10px;

  box-shadow: 0px 0px 15px 25px rgba(0, 0, 0, 0.452);

  background-color: #887880;

  border: #88a096 2px solid;

  transition: transform 0.3s ease-in-out;
}

.midContain:hover {
  transform: scale(1.1);
}

/* -------------------------------------------------------------- */

.rightContain {
  width: 300px;
  height: 500px;

  padding: 10px;

  border-radius: 10px 10px 10px 10px;

  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.452);

  background-color: #887880;

  border: #88a096 2px solid;

  transition: transform 0.3s ease-in-out;
}

.rightContain:hover {
  transform: scale(1.1);
}

.botContain {
  display: flex;

  width: 1280px;
  height: 80px;

  justify-content: center;
  align-self: flex-end;

  background-color: #8a4f7d;
  border-top: #88a096 4px ridge;
}

.noob {
  background-color: whitesmoke;
  border: 2px #88a096 solid;
}

#fordtnitePlay {
  font-size: larger;
  width: 80px;
  height: 60px;
}
