body {
  height: 768px;
  width: 1280px;

  overflow-y: hidden;
  overflow-x: hidden;

  background-image: url("imgs/ugh.gif");
  background-size: cover;

  margin: auto;
}

.mainContain {
  display: flex;
  flex-wrap: wrap;

  height: 100vh;
  width: 1280px;
}

.topContain {
  display: flex;

  width: 1280px;
  height: 80px;

  text-align: center;
  gap: 50px;

  justify-content: center;
  align-self: flex-start;

  background-color: rosybrown;
  border: purple 4px ridge;
}

.midScreen {
  display: flex;
  justify-content: space-evenly;

  padding-top: 30px;

  height: 500px;
  width: 1280px;

  text-align: center;
}

.leftContain {
  width: 300px;
  height: 500px;

  padding: 10px;

  background-color: rosybrown;

  border: purple 2px solid;
}

.midContain {
  width: 500px;
  height: 500px;

  padding: 10px;

  background-color: rosybrown;

  border: purple 2px solid;
}

.rightContain {
  width: 300px;
  height: 500px;

  padding: 10px;

  background-color: rosybrown;

  border: purple 2px solid;
}

.botContain {
  display: flex;

  width: 1280px;
  height: 80px;

  justify-content: center;
  align-self: flex-end;

  background-color: plum;
  border: purple 4px ridge;
}

.noob {
  background-color: whitesmoke;
  border: 2px purple solid;
}
